
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Layout.cshtml";
}

<h2>Add Product Page</h2>
<form method="post">
    <div>
        <label>Product Name</label>
        <input type="text" name="ad" class="form-control" />
    </div>
    <br />
    <div>
        <button type="submit" class="btn btn-info">Kaydet</button>
    </div>
</form>